.cardDetail {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 25px;
    gap: 20px;
    font-family:  monospace;
    font-size: 16px;

    h4, h5 {
        font-weight: bolder;
        font-family: monospace;
        color: #3ab54a;
    }
   
  
}
.pictureCharacter {

    img {
        width: 250px;
        height: 250px;
        border: 10px solid #ffdd00;
        border-radius: 40px;
        
    }
}

.buttonBack {
   
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: #3ab54a ;

    
}