.filterName {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    label {
        color: white;
        font-family: monospace;
        font-size: 15px;
        color: white;
        
    }
    
    input {
        padding: 10px;
        border: 1px solid greenyellow;
        border-radius: 10px;
    }
}