@import 'core/reset';

.containerApp {
    background-color: black;
    .logo {
      img {
        height: 50vh;
        justify-content: center;
      }
     .title {
        color: white;
     }
    }
}

.speciesFilter {
    label {
        color: white;
    }
}